// @import "base.scss";
.title {
    font-size: 50px;
    text-align: center;
}

label {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.container {
    font-size: 14px;
    padding: 0 20px 0 20px;
    text-align: center;
    color: #34495e;
}

.up_btn {
    margin-top: 30px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    background: #4fc08d;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    position: relative;
}

#up {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

select {
    font-size: 14px;
    margin-left: 10px;
}

.result {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #eee;
    width: 500px;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.desc {
    margin-top: 30px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eee;
    padding: 10px;
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.plane {
    width: 100%;
    height: 100%;
}
